// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


@mixin sm-screen {
  @media screen and (min-width: $sm) { @content }
};

@mixin md-screen {
  @media screen and (min-width: $md) { @content }
};

@mixin lg-screen {
  @media screen and (min-width: $lg) { @content }
};

@mixin xl-screen {
  @media screen and (min-width: $xl) { @content }
};

@mixin xxl-screen {
  @media screen and (min-width: $xxl) { @content }
};

@mixin preview {
  @media screen and (min-width: 0px) { 
    border: 2px solid green;
  }
  @include sm-screen {
    border: 2px solid yellow;
  }
  @include md-screen {
    border: 2px solid red;
  }
  @include lg-screen {
    border: 2px solid black;
  }
  @include xl-screen {
    border: 2px solid blue;
  }
  @include xxl-screen {
    border: 2px solid orange;
  }
}