@import "breakpoints";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  nav,
  footer {
    height: 100px;
  }

  main {
    flex-grow: 1;
  }
}

.hero {
  height: 250px;
  background-image: url('../public/images/hero_background.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  @include sm-screen {
    height: 400px;
  }
  @include md-screen {
    height: 600px;
  }
  @include lg-screen {
    height: 900px;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      width: 70%;
    }

    p {
      width: 70%;
    }
  }
}

// < green
// @include sm-screen {}; yellow
// @include md-screen {}; red
// @include lg-screen {}; black
// @include xl-screen {}; blue
// @include xxl-screen {}; orange
// @include preview;