body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body nav,
body footer {
  height: 100px;
}
body main {
  flex-grow: 1;
}

.hero {
  height: 250px;
  background-image: url("../public/images/hero_background.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 576px) {
  .hero {
    height: 400px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 600px;
  }
}
@media screen and (min-width: 992px) {
  .hero {
    height: 900px;
  }
}
.hero .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .container h1 {
  width: 70%;
}
.hero .container p {
  width: 70%;
}/*# sourceMappingURL=style.css.map */